@{
    ViewData["Title"] = "工作记录";
}
@section css{ 
<style>
    .main {
        height: 600px;
        width: 100%;
        background: url(/images/back.jpg) center bottom no-repeat;
        position: relative;
    }
   
</style>
}
<div class="main"></div>
