@{
    ViewData["Title"] = "工作记录";
}
<div class="container">
    <div class="row" style="margin-top:10px;">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">　旧密码</span>
                <input id="oldpassword" type="password" class="form-control" placeholder="请输入旧密码">
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">　新密码</span>
                <input id="newpassword" type="password" class="form-control" placeholder="请输入新密码">
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">确认密码</span>
                <input id="surepassword" type="password" class="form-control" placeholder="再输一次新密码">
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-6" style="text-align:right;">
            <button class="btn btn-success" onclick="Sava()">修改</button>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
@section scripts {
    <script>
        function Sava() {
            if ($("#newpassword").val() == "" || $("#surepassword").val() == "" || $("#oldpassword").val() == "") {
                alert("旧密码，新密码，确认密码不能为空！");
                return false;
            }
            if ($("#newpassword").val() != $("#surepassword").val()) {
                alert("新密码与确认密码不相同");
                return false;
            } else {
                $.ajax({
                    method: "POST",
                    url: 'modifypassword',
                    data: {
                        oldpassword: $("#oldpassword").val(),
                        newpassword: $("#newpassword").val()
                    },
                    success: function (backData) {
                        if (backData.result == 1) {
                            alert("密码修改成功！");
                            window.location="/login"
                        }
                        else {
                            alert(backData.message);
                        }
                    },
                    error: function (error) {
                        alert(error.statusText)
                    }
                })
            }
        }
    </script>
}


